<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Venta</title>
    {% include 'includes/header.html' %}
</head>
<body>
    {% include 'includes/menu.html' %}
    <div class="container">
        <div class="row mt-5 pt-5">
            <h1>Nueva Venta</h1>
            <div>
                <div class="row my-3">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" name="factura" id="factura" class="form-control" placeholder="factura">
                            <label for="factura">Factura</label>
                        </div>
                    </div>
                    <div class="col">
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" name="cliente" id="cliente" class="form-control" placeholder="cliente" list="clientes" onchange="datos_cliente(this.value)">
                            <label for="cliente">Cliente</label>
                            <datalist id="clientes"></datalist>
                        </div>
                        <button class="btn btn-primary" onclick="nuevo_cliente()"><i class="bi bi-plus-circle"></i> Nuevo Cliente</button>
                        
                    </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" name="nombre-completo" id="nombre-completo" class="form-control" placeholder="nombre-completo" disabled>
                            <label for="nombre-completo">Nombre Completo</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" name="mostrar-direccion" id="mostrar-direccion" class="form-control" placeholder="mostrar-direccion" disabled>
                            <label for="mostrar-direccion">Dirección</label>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <div class="form-floating">
                            <input type="tel" name="mostrar-telefono" id="mostrar-telefono" class="form-control" placeholder="mostrar-telefono" disabled>
                            <label for="mostrar-telefono">Teléfono</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" name="mostrar-celular" id="mostrar-celular" class="form-control" placeholder="mostrar-celular" disabled>
                            <label for="mostrar-celular">Celular</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-end mb-3">
                <button class="btn btn-primary px-5" onclick="productos_sin_seleccionar()"><i class="bi bi-plus-circle"></i> Agregar Producto</button>
            </div>
            <table class="table table-borderless table-hover border">
                <thead class="table-dark">
                    <th style="width: 60px;">#</th>
                    <th>Productos</th>
                    <th style="width: 100px; text-align: center;">Cantidad</th>
                    <th style="width: 100px; text-align: center;">Precio U.</th>
                    <th style="width: 100px; text-align: center;">Sub-Total</th>
                    <th style="width: 60px; text-align: center;">···</th>
                </thead>
                <tbody id="lista-productos"></tbody>
            </table>
        </div>
        <div class="row my-3">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <div class="input-group my-2">
                    <span class="input-group-text">Total <i class="bi bi-currency-dollar"></i></span>
                    <input type="text" class="form-control" style="text-align: right;" name="total" id="total" title="total" readonly>
                    <label for="total"></label>
                </div>
                <button class="btn btn-success form-control" onclick="procesar()"><i class="bi bi-check-circle"></i> Procesar Compra</button>
            </div>
        </div>
    </div>
    {% include 'includes/modal.html' %}
</body>
    {% include 'includes/scripts.html' %}
    {% include 'includes/ventas/js-nueva-venta.html' %}
</html>