<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprimir Venta</title>
    {% include 'includes/header.html' %}
    <style>
        @media print {
            * {
                -webkit-print-color-adjust: exact;
                font-size: small;
            }
        .table-dark {
            background-color: #000 !important;
            color: #fff !important;
        }
        .table-dark th, .table-dark td {
            border-color: #000 !important;
        }
        }
    </style>
</head>
<body>
    <div class="container px-0">
        <div class="row">
            <h1 class="text-center">Información de Venta</h1>
            <table class="table border">
                <tbody>
                    <tr><td colspan="4" class="text-center table-dark">Datos</td></tr>
                    <tr>
                        
                        <td class="table-dark">Factura</td>
                        <td>{{venta.factura}}</td>
                        <td class="table-dark">Proveedor</td>
                        <td>{{venta.cliente.nombre}}</td>
                    </tr>
                    <tr>
                        <td class="table-dark">Teléfono</td>
                        <td>{{venta.cliente.telefono}}</td>
                        <td class="table-dark">Celular</td>
                        <td>{{venta.cliente.celular}}</td>
                    </tr>
                    <tr>
                        <td class="table-dark">Dirección</td>
                        <td>{{venta.cliente.direccion}}</td>
                        <td class="table-dark">Ciudad</td>
                        <td>{{venta.cliente.ciudad}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-borderless border">
                <thead class="table-dark">
                    <th>Producto</th>
                    <th style="width: 80px;">Cantidad</th>
                    <th style="width: 80px;">Costo</th>
                    <th style="width: 120px;">Subtotal</th>
                </thead>
                <tbody>
                    {% for producto, total in items %}
                    <tr>
                        <td>{{producto.producto.marca.nombre}} - {{producto.producto.nombre}}</td>
                        <td class="text-end">{{producto.cantidad}}</td>
                        <td class="text-end">{{producto.costo}}</td>
                        <td class="text-end">{{total}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                <div class="row px-0">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col px-0">
                        <div class="input-group my-2">
                            <span class="input-group-text" style="width: 80px;">Subtotal <i class="bi bi-currency-dollar"></i></span>
                            <input type="text" class="form-control" style="text-align: right;" name="subtotal" id="subtotal" title="subtotal" value="{{venta.subtotal}}" readonly>
                        </div>
                        <div class="input-group my-2">
                            <span class="input-group-text" style="width: 80px;">IVA <i class="bi bi-currency-dollar"></i></span>
                            <input type="text" class="form-control" style="text-align: right;" name="iva" id="iva" title="iva" value="{{venta.iva}}" readonly>
                        </div>
                        <div class="input-group my-2">
                            <span class="input-group-text" style="width: 80px;">Total <i class="bi bi-currency-dollar"></i></span>
                            <input type="text" class="form-control" style="text-align: right;" name="total" id="total" title="total" value="{{venta.total}}" readonly>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
    {% include 'includes/scripts.html' %}
    <script>
        $(document).ready(()=>{
            window.print()
        })
    </script>
</html>