<script>
    $(document).ready(() => {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            }
        });
        clientes()
        lista_seleccionados()
    })

    function clientes () {
        $.ajax({
            url:        '{% url "gestion_clientes" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:     'lista_clientes',
                estado:     true
            }
        }).then((respuesta) => {
            $.each(respuesta.clientes, (index, cliente) => {
                $('#clientes').append(`
                    <option value="${cliente.identificacion}">${cliente.nombre} ${cliente.apellido} - ${cliente.identificacion}</option>
                `)
            })
        }).catch((error) => {
            let respuesta = JSON.parse(error.responseText)
            mensaje('fa fa-circle-xmark', 'Error en Lista de Clientes', 'red', respuesta.message)
        })
    }

    function datos_cliente(identificacion) {
        $.ajax({
            url:        '{% url "gestion_clientes" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:         'datos_cliente',
                identificacion: identificacion
            }
        }).then((respuesta) => {
            $('#nombre-completo').val(respuesta.cliente.nombre + ' ' + respuesta.cliente.apellido)
            $('#mostrar-direccion').val(respuesta.cliente.direccion)
            $('#mostrar-telefono').val(respuesta.cliente.telefono)
            $('#mostrar-celular').val(respuesta.cliente.celular)
        }).catch((error) => {
            let respuesta = JSON.parse(error.responseText)
            mensaje('fa fa-circle-xmark', 'Error de Cliente', 'red', respuesta.message)
        })
    }

    function nuevo_cliente () {
        $('.modal-body').html(`
            <form>
                <div class="form-floating mb-3">
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="nombre">
                    <label for="nombre">Nombres</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="apellido" id="apellido" class="form-control" placeholder="apellido">
                    <label for="apellido">Apellidos</label>
                </div>
                <div class="form-floating mb-3">
                    <select name="tipo_identificacion" id="tipo_identificacion" class="form-select" placeholder="tipo_identificacion">
                        <option value="0">[Seleccione un tipo de identificacion]</option>
                        <option value="cedula">Cédula</option>
                        <option value="ruc">RUC</option>
                    </select>
                    <label for="tipo_identificacion">Tipo de Identificación</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="identificacion" id="identificacion" class="form-control" placeholder="identificacion">
                    <label for="identificacion">Identificación</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="direccion" id="direccion" class="form-control" placeholder="direccion">
                    <label for="direccion">Direccion</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="ciudad" id="ciudad" class="form-control" placeholder="ciudad">
                    <label for="ciudad">Ciudad</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="telefono" id="telefono" class="form-control" placeholder="telefono">
                    <label for="telefono">Teléfono</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="celular" id="celular" class="form-control" placeholder="celular">
                    <label for="celular">Celular</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" name="correo" id="correo" class="form-control" placeholder="correo">
                    <label for="correo">Correo</label>
                </div>
                <button type="button" class="btn btn-primary form-control" onclick="guardar()">Guardar</button>
            </form>
        `)
        $('#etiqueta-modal').html('Nuevo Cliente')
        $('#modal').modal('toggle')
    }

    function guardar () {
        $.ajax({
            url:        '{% url "gestion_clientes" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:     'crear_cliente',
                nombre:                 $('#nombre').val(),
                apellido:               $('#apellido').val(),
                tipo_identificacion:    $('#tipo_identificacion').val(),
                identificacion:         $('#identificacion').val(),
                direccion:              $('#direccion').val(),
                ciudad:                 $('#ciudad').val(),
                telefono:               $('#telefono').val(),
                celular:                $('#celular').val(),
                correo:                 $('#correo').val(),
            }
        }).then((respuesta) => {
            $('#modal').modal('toggle')
            mensaje('fa fa-circle-check', 'Guardar Cliente', 'green', respuesta.message)
            $('#cliente').val(respuesta.identificacion)
            clientes()
            datos_cliente(respuesta.identificacion)
        }).catch((error) => {
            let respuesta = JSON.parse(error.responseText)
            mensaje('fa fa-circle-xmark', 'Error al Guardar Cliente', 'red', respuesta.message)
        })
    }

    function productos_sin_seleccionar () {
        let filtrar = []
        if (sessionStorage.getItem('seleccionados') !== null) {
            let lista = JSON.parse(sessionStorage.getItem('seleccionados'))
            $.each(lista, function(index, item){
                filtrar.push(item.id)
            })
        } else {
            filtrar = null
        }
        $.ajax({
                url:        '{% url "gestion_productos" %}',
                type:       'POST',
                dataType:   'JSON',
                data:       {
                    accion:     'lista_filtrada',
                    filtrar:    JSON.stringify(filtrar)
                }
            }).done(function (data){
                if (data.success) {
                    lista_productos = data.productos
                    $('#etiqueta-modal').html('Selector de Productos')
                    $('.modal-body').html(`
                        <div class="form-floating mb-3">
                            <input type="text" name="buscar" id="buscar" class="form-control" placeholder="buscar" onkeyup="buscar_producto(this.value)">
                            <label for="buscar"><i class="bi bi-search"></i> Buscar</label>
                        </div>
                        <table class="table table-borderless border">
                            <thead class="table-dark">
                                <th>Productos</th>
                                <th style="width: 70px;">···</th>
                            </thead>
                            <tbody id="productos-disponibles">

                            </tbody>
                        </table>
                    `)
                    $.each(data.productos, function (index, producto) {
                        $('#productos-disponibles').append(`
                            <tr>
                                <td>${producto.marca_nombre} - ${producto.nombre}<br><span class="text-muted"><small>Precio: $<span id="precio-${producto.id}">${producto.precio}</span></small></span></td>
                                <td>
                                    <button class="btn btn-primary" onclick="agregar(${producto.id})"><i class="bi bi-check2-circle"></i></button>
                                </td>
                            </tr>
                        `)
                    })
                    $('#modal').modal('toggle')
                } else {
                    $.alert({
                        icon:               'fa-circle-xmark',
                        title:              'Error',
                        type:               'red',
                        content:            data.message,
                        animateFromElement: false,
                        theme:              'modern'
                    })
                }
            })
    }

    function agregar (id) {
        let producto = lista_productos.find((item) => item.id === id);
        let precio_producto = $('#precio-'+id).html()
        $('#productos-modal').modal('toggle')
        $.confirm({
            icon:               'fa fa-boxes-stacked',
            title:              'Cantidad',
            type:               'blue',
            content:            '' + 
                                '<p>Ingresa la cantidad y costo para <strong>' + producto.nombre + ' ' + producto.presentacion + '</strong>.</p>' +     
                                '<div class="form-floating">' +
                                '<input type="number" id="cantidad" name="cantidad" class="form-control" placeholder="cantidad">' + 
                                '<label for="cantidad">Cantidad</label>' +
                                '</div>' +
                                '<div class="form-floating mt-3">' +
                                '<input type="text" id="precio" name="precio" class="form-control" placeholder="precio" value="'+ precio_producto +'" disabled>' + 
                                '<label for="precio">Precio $</label>' +
                                '</div>',
            animateFromElement: false,
            theme:              'modern',
            buttons:            {
                Aceptar:    function () {
                    if (sessionStorage.getItem('seleccionados') == null) {
                        sessionStorage.setItem('seleccionados', JSON.stringify([{id: id, cantidad: $('#cantidad').val(), costo: $('#costo').val()}]))
                    } else {
                        let seleccionados = JSON.parse(sessionStorage.getItem('seleccionados'))
                        seleccionados.push({id: id, cantidad: $('#cantidad').val(), costo: $('#costo').val()})
                        sessionStorage.setItem('seleccionados', JSON.stringify(seleccionados))
                    }
                    lista_seleccionados()
                }, 
                Cancelar:   function () {}
            }
        })
        if (sessionStorage.getItem('seleccionados') == null) {

        }
    }
    
    function quitar_producto (id) {
        $.alert({
            icon:               'fa fa-circle-exclamation',
            title:              'Quitar Producto',
            type:               'red',
            content:            '¿Desea quitar el producto de la lista?',
            theme:              'modern',
            animateFromElement: false,
            buttons:            {
                Sí: () => {
                    let seleccionados = JSON.parse(sessionStorage.getItem('seleccionados'))
                    seleccionados = seleccionados.filter(item => item.id !== id)
                    sessionStorage.setItem('seleccionados', JSON.stringify(seleccionados))
                    lista_seleccionados()
                },
                No: () => {}
            }
        })
    }

    function buscar_producto (buscar) {
        let seleccionados   =   JSON.parse(sessionStorage.getItem('seleccionados'))
        let filtrar         =   []
        $.each(seleccionados, (index, item) => {
            filtrar.push(item.id)
        })
        $.ajax({
            url:        '{% url "gestion_productos" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:     'buscar_sin_seleccionar',
                buscar:     buscar,
                filtrar:    JSON.stringify(filtrar)
            }
        }).then((respuesta) => {
            lista_productos = respuesta.productos
            $('#productos-disponibles').html('')
            $.each(lista_productos, function (index, producto) {
                $('#productos-disponibles').append(`
                    <tr>
                        <td>${producto.marca_nombre} - ${producto.nombre}</td>
                        <td>
                            <button class="btn btn-primary" onclick="agregar(${producto.id})"><i class="bi bi-check2-circle"></i></button>
                        </td>
                    </tr>
                `)
            })
        }).catch((error) => {
            let respuesta = JSON.parse(error.responseText)
            mensaje('fa fa-circle-xmark', 'Error al Buscar', 'red', respuesta.message)
        })
    }

    function lista_seleccionados () {
        $.ajax({
            url:        '{% url "gestion_productos" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion: 'lista', 
                estado: true
            }
        }).done(function (data){
            $('#productos-seleccionados').html('')
            if (data.success) {
                let ids = JSON.parse(sessionStorage.getItem('seleccionados'))
                let total = 0.00
                $.each(ids, function(index, id){
                    let info = data.productos.find((producto) => producto.id == id.id)
                    let marca = data.marcas.find((item) => item.id === info.marca)
                    total = parseFloat(total) + (parseFloat(info.precio) * parseInt(id.cantidad))
                    $('#productos-seleccionados').append(`
                        <tr>
                            <td style="vertical-align: middle;">${index + 1}</td>
                            <td style="vertical-align: middle;">${info.nombre} ${marca.nombre} ${info.presentacion}</td>
                            <td style="vertical-align: middle; text-align: right;">${id.cantidad}</td>
                            <td style="vertical-align: middle; text-align: right;">${parseFloat(info.precio).toFixed(2)}</td>
                            <td style="vertical-align: middle; text-align: right;">${parseFloat((info.precio) * parseInt(id.cantidad)).toFixed(2)}</td>
                            <td style="vertical-align: middle;">
                                <button class="btn btn-danger" onclick="quitar_producto(${id.id})"><i class="bi bi-x"></i></button>
                            </td>
                        </tr>
                    `)
                })
                $('#total').val(total.toFixed(2))
            }
        })
    }

    function mensaje (icono, titulo, color, mensaje) {
        $.alert({
            icon:               icono,
            type:               color,
            title:              titulo,
            content:            mensaje,
            theme:              'modern',
            animateFromElement: false,
            buttons:            {
                Cerrar:     () => {}
            }
        })
    }
</script>