<script>
    let requisitos = [{
        cliente:        false,
        seleccionados:  false
    }]

    $(document).ready(() => {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            }
        });
        clientes()
        lista_seleccionados()
        nueva_factura()
        verificar_seleccionados()
        verificar()
    })

    function clientes () {
        $.ajax({
            url:        '{% url "gestion_clientes" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:     'lista_clientes',
                estado:     true
            }
        }).then((respuesta) => {
            $.each(respuesta.clientes, (index, cliente) => {
                $('#clientes').append(`
                    <option value="${cliente.identificacion}">${cliente.nombre} ${cliente.apellido} - ${cliente.identificacion}</option>
                `)
            })
        }).catch((error) => {
            let respuesta = JSON.parse(error.responseText)
            mensaje('fa fa-circle-xmark', 'Error en Lista de Clientes', 'red', respuesta.message)
        })
    }

    function datos_cliente(identificacion) {
        $.ajax({
            url:        '{% url "gestion_clientes" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:         'datos_cliente',
                identificacion: identificacion
            }
        }).then((respuesta) => {
            $('#nombre-completo').val(respuesta.cliente.nombre + ' ' + respuesta.cliente.apellido)
            $('#mostrar-direccion').val(respuesta.cliente.direccion)
            $('#mostrar-telefono').val(respuesta.cliente.telefono)
            $('#mostrar-celular').val(respuesta.cliente.celular)
        }).catch((error) => {
            let respuesta = JSON.parse(error.responseText)
            mensaje('fa fa-circle-xmark', 'Error de Cliente', 'red', respuesta.message)
        })
    }

    function nuevo_cliente () {
        $('.modal-body').html(`
            <form>
                <div class="form-floating mb-3">
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="nombre">
                    <label for="nombre">Nombres</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="apellido" id="apellido" class="form-control" placeholder="apellido">
                    <label for="apellido">Apellidos</label>
                </div>
                <div class="form-floating mb-3">
                    <select name="tipo_identificacion" id="tipo_identificacion" class="form-select" placeholder="tipo_identificacion">
                        <option value="0">[Seleccione un tipo de identificacion]</option>
                        <option value="cedula">Cédula</option>
                        <option value="ruc">RUC</option>
                    </select>
                    <label for="tipo_identificacion">Tipo de Identificación</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="identificacion" id="identificacion" class="form-control" placeholder="identificacion">
                    <label for="identificacion">Identificación</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="direccion" id="direccion" class="form-control" placeholder="direccion">
                    <label for="direccion">Direccion</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="ciudad" id="ciudad" class="form-control" placeholder="ciudad">
                    <label for="ciudad">Ciudad</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="telefono" id="telefono" class="form-control" placeholder="telefono">
                    <label for="telefono">Teléfono</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="celular" id="celular" class="form-control" placeholder="celular">
                    <label for="celular">Celular</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" name="correo" id="correo" class="form-control" placeholder="correo">
                    <label for="correo">Correo</label>
                </div>
                <button type="button" class="btn btn-primary form-control" onclick="guardar()">Guardar</button>
            </form>
        `)
        $('#etiqueta-modal').html('Nuevo Cliente')
        $('#modal').modal('toggle')
    }

    function guardar () {
        $.ajax({
            url:        '{% url "gestion_clientes" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:     'crear_cliente',
                nombre:                 $('#nombre').val(),
                apellido:               $('#apellido').val(),
                tipo_identificacion:    $('#tipo_identificacion').val(),
                identificacion:         $('#identificacion').val(),
                direccion:              $('#direccion').val(),
                ciudad:                 $('#ciudad').val(),
                telefono:               $('#telefono').val(),
                celular:                $('#celular').val(),
                correo:                 $('#correo').val(),
            }
        }).then((respuesta) => {
            $('#modal').modal('toggle')
            mensaje('fa fa-circle-check', 'Guardar Cliente', 'green', respuesta.message)
            $('#cliente').val(respuesta.identificacion)
            clientes()
            datos_cliente(respuesta.identificacion)
        }).catch((error) => {
            let respuesta = JSON.parse(error.responseText)
            mensaje('fa fa-circle-xmark', 'Error al Guardar Cliente', 'red', respuesta.message)
        })
    }

    function productos_sin_seleccionar () {
        let filtrar = []
        if (sessionStorage.getItem('seleccionados') !== null) {
            let lista = JSON.parse(sessionStorage.getItem('seleccionados'))
            $.each(lista, function(index, item){
                filtrar.push(item.id)
            })
        } else {
            filtrar = null
        }
        $.ajax({
                url:        '{% url "gestion_productos" %}',
                type:       'POST',
                dataType:   'JSON',
                data:       {
                    accion:     'lista_filtrada',
                    filtrar:    JSON.stringify(filtrar)
                }
            }).done(function (data){
                if (data.success) {
                    lista_productos = data.productos
                    $('#etiqueta-modal').html('Selector de Productos')
                    $('.modal-body').html(`
                        <div class="form-floating mb-3">
                            <input type="text" name="buscar" id="buscar" class="form-control" placeholder="buscar" onkeyup="buscar_producto(this.value)">
                            <label for="buscar"><i class="bi bi-search"></i> Buscar</label>
                        </div>
                        <table class="table table-borderless border">
                            <thead class="table-dark">
                                <th>Productos</th>
                                <th style="width: 70px;">···</th>
                            </thead>
                            <tbody id="productos-disponibles">

                            </tbody>
                        </table>
                    `)
                    $.each(data.productos, function (index, producto) {
                        let sin_stock = ' disabled'
                        if  (producto.kardex_stock > 0) {
                            sin_stock = ''
                        }

                        $('#productos-disponibles').append(`
                            <tr>
                                <td>
                                    ${producto.marca_nombre} - ${producto.nombre}<br>
                                    <span class="text-muted">
                                        <small>
                                            Precio: $<span id="precio-${producto.id}">${producto.precio}</span> - 
                                            Stock: <span id="stock-${producto.id}">${producto.kardex_stock}</span>
                                        </small>
                                    </span>
                                </td>
                                <td>
                                    <button class="btn btn-primary" onclick="agregar(${producto.id})" ${sin_stock}><i class="bi bi-check2-circle"></i></button>
                                </td>
                            </tr>
                        `)
                    })
                    $('#modal').modal('toggle')
                } else {
                    $.alert({
                        icon:               'fa-circle-xmark',
                        title:              'Error',
                        type:               'red',
                        content:            data.message,
                        animateFromElement: false,
                        theme:              'modern'
                    })
                }
            })
    }

    function agregar (id) {
        let producto = lista_productos.find((item) => item.id === id);
        let precio_producto = $('#precio-'+id).html()
        let stock_producto = $('#stock-'+id).html()
        $('#productos-modal').modal('toggle')
        $.confirm({
            icon:               'fa fa-boxes-stacked',
            title:              'Cantidad',
            type:               'blue',
            content:            '' + 
                                '<p>Ingresa la cantidad para <strong>' + producto.nombre + ' ' + producto.presentacion + '</strong>.</p>' +     
                                '<div class="form-floating">' +
                                '<input type="number" min="1" max="'+ stock_producto +'" id="cantidad" name="cantidad" class="form-control" placeholder="cantidad" value="1">' + 
                                '<label for="cantidad">Cantidad</label>' +
                                '</div>' +
                                '<div class="form-floating mt-3">' +
                                '<input type="text" id="precio" name="precio" class="form-control" placeholder="precio" value="'+ precio_producto +'" disabled>' + 
                                '<label for="precio">Precio $</label>' +
                                '</div>',
            animateFromElement: false,
            theme:              'modern',
            buttons:            {
                Aceptar:    function () {
                    if (sessionStorage.getItem('seleccionados') == null) {
                        sessionStorage.setItem('seleccionados', JSON.stringify([{id: id, cantidad: $('#cantidad').val(), precio: $('#precio').val()}]))
                    } else {
                        let seleccionados = JSON.parse(sessionStorage.getItem('seleccionados'))
                        seleccionados.push({id: id, cantidad: $('#cantidad').val(), precio: $('#precio').val()})
                        sessionStorage.setItem('seleccionados', JSON.stringify(seleccionados))
                    }
                    lista_seleccionados()
                    $('#modal').modal('toggle')
                    verificar_seleccionados()
                }, 
                Cancelar:   function () {}
            }
        })
        if (sessionStorage.getItem('seleccionados') == null) {

        }
    }
    
    function quitar_producto (id) {
        $.alert({
            icon:               'fa fa-circle-exclamation',
            title:              'Quitar Producto',
            type:               'red',
            content:            '¿Desea quitar el producto de la lista?',
            theme:              'modern',
            animateFromElement: false,
            buttons:            {
                Sí: () => {
                    let seleccionados = JSON.parse(sessionStorage.getItem('seleccionados'))
                    seleccionados = seleccionados.filter(item => item.id !== id)
                    sessionStorage.setItem('seleccionados', JSON.stringify(seleccionados))
                    lista_seleccionados()
                    if (JSON.parse(sessionStorage.getItem('seleccionados')).length > 0) {
                        requisitos.seleccionados = true
                    } else {
                        requisitos.seleccionados = false
                    }
                    verificar()
                },
                No: () => {}
            }
        })
    }

    function procesar () {
        $.alert({
            icon:               'fa fa-circle-exclamation',
            title:              'Procesar Venta',
            type:               'red',
            content:            '¿Desea procesar la venta?',
            theme:              'modern',
            animateFromElement: false,
            buttons:            {
                Sí: () => {
                    $.ajax({
                        url:        '{% url "gestion_ventas" %}',
                        type:       'POST',
                        dataType:   'JSON',
                        data:       {
                            accion:     'crear_venta',
                            items:      JSON.stringify(JSON.parse(sessionStorage.getItem('seleccionados'))),
                            cliente:    $('#cliente').val(),
                            factura:    $('#factura').val(),
                            subtotal:   $('#subtotal').val(),
                            iva:        $('#iva').val(),
                            total:      $('#total').val()
                        }
                    }).then((respuesta) => {
                        if (respuesta.success) {
                            $('#cliente').val('')
                            $('#factura').val('')
                            $('#nombre-completo').val('')
                            $('#mostrar-direccion').val('')
                            $('#mostrar-telefono').val('')
                            $('#mostrar-celular').val('')
                            $('#total').val('')
                            $('#iva').val('')
                            $('#subtotal').val('')

                            sessionStorage.removeItem('seleccionados')
                            nueva_factura()
                            lista_seleccionados()
                            $.alert({
                                icon:               'fa fa-circle-check',
                                title:              'Procesar Venta',
                                type:               'green',
                                content:            respuesta.message + '\n¿Desea realizar una nueva venta?',
                                theme:              'modern',
                                animateFromElement: false,
                                buttons:            {
                                    Sí: () => {
                                        
                                    }, 
                                    No: () => {window.location.href = '{% url "index" %}'}
                                }
                            })
                        }
                    }).catch((error) => {
                        let respuesta = JSON.parse(error.responseText)
                        mensaje('fa fa-circle-xmark', 'Error al crear la venta: ','red',  respuesta.message)
                    })
                },
                No: () => {}
            }
        })
    }

    function nueva_factura () {
        $.ajax({
            url:        '{% url "gestion_ventas" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:     'siguiente_factura',
            }
        }).then((respuesta)=>{
            $('#factura').val(respuesta.factura)
        })
    }

    function buscar_producto (buscar) {
        let seleccionados   =   JSON.parse(sessionStorage.getItem('seleccionados'))
        let filtrar         =   []
        $.each(seleccionados, (index, item) => {
            filtrar.push(item.id)
        })
        $.ajax({
            url:        '{% url "gestion_productos" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:     'buscar_sin_seleccionar',
                buscar:     buscar,
                filtrar:    JSON.stringify(filtrar)
            }
        }).then((respuesta) => {
            lista_productos = respuesta.productos
            $('#productos-disponibles').html('')
            $.each(lista_productos, function (index, producto) {
                $('#productos-disponibles').append(`
                    <tr>
                        <td>${producto.marca_nombre} - ${producto.nombre}</td>
                        <td>
                            <button class="btn btn-primary" onclick="agregar(${producto.id})"><i class="bi bi-check2-circle"></i></button>
                        </td>
                    </tr>
                `)
            })
        }).catch((error) => {
            let respuesta = JSON.parse(error.responseText)
            mensaje('fa fa-circle-xmark', 'Error al Buscar', 'red', respuesta.message)
        })
    }

    function lista_seleccionados () {
        let seleccionados = []
        if (sessionStorage.getItem('seleccionados') !==  null && JSON.parse(sessionStorage.getItem('seleccionados')).length  > 0) {

            $.ajax({
                url:        '{% url "gestion_productos" %}',
                type:       'POST',
                dataType:   'JSON',
                data:       {
                    accion: 'productos_seleccionados',
                    seleccionados: sessionStorage.getItem('seleccionados')
                }
            }).done(function (respuesta){
                $('#productos-seleccionados').html('')
                let seleccionados = JSON.parse(sessionStorage.getItem('seleccionados'))
                let subtotal    =   0.00
                let  iva        =   0.00
                let  total      =   0.00
                $('#lista-productos').html('')
                $.each(respuesta.productos, function(index, producto){
                    let precio  = seleccionados.find(item => item.id == producto.id).precio
                    let cantidad = seleccionados.find(item => item.id == producto.id).cantidad
                    subtotal = parseFloat(subtotal) + (parseFloat(precio/1.15) * parseInt(cantidad))
                    iva =  parseFloat(subtotal) * 0.15
                    total = parseFloat(subtotal) + parseFloat(iva)
                    $('#lista-productos').append(`
                        <tr>
                            <td style="vertical-align: middle;">${index + 1}</td>
                            <td style="vertical-align: middle;">${producto.nombre} ${producto.marca_nombre} ${producto.presentacion}</td>
                            <td style="vertical-align: middle; text-align: right;">${cantidad}</td>
                            <td style="vertical-align: middle; text-align: right;">${parseFloat(precio/1.15).toFixed(2)}</td>
                            <td style="vertical-align: middle; text-align: right;">${parseFloat((precio/1.15) * parseInt(cantidad)).toFixed(2)}</td>
                            <td style="vertical-align: middle;">
                                <button class="btn btn-danger" onclick="quitar_producto(${producto.id})"><i class="bi bi-x"></i></button>
                            </td>
                        </tr>
                    `)
                })
                $('#subtotal').val(subtotal.toFixed(2))
                $('#iva').val(iva.toFixed(2))
                $('#total').val(total.toFixed(2))       
            })
        } else {
            $('#lista-productos').html('<tr><td colspan="6" style="text-align: center; color: gray;">No hay productos seleccionados.</td></tr>')
        }
    }

    function regresar () {
        window.location.href = '{% url "lista_ventas" %}'
    }

    function mensaje (icono, titulo, color, mensaje) {
        $.alert({
            icon:               icono,
            type:               color,
            title:              titulo,
            content:            mensaje,
            theme:              'modern',
            animateFromElement: false,
            buttons:            {
                Cerrar:     () => {}
            }
        })
    }

    function verificar_seleccionados () {
        if (JSON.parse(sessionStorage.getItem('seleccionados')).length > 0) {
            requisitos.seleccionados = true
        } else {
            requisitos.seleccionados = false
        }
        verificar()
    }    

    function verificar () {
        if (requisitos.cliente && requisitos.seleccionados) {
            $('#procesar').prop('disabled', false)
        } else {
            $('#procesar').prop('disabled', true)
        }
    }

    document.getElementById('cliente').addEventListener('input', function() {
        var cliente = this.value;
        if (cliente !== '0' && cliente !== '') {
            requisitos.cliente  =   true;
        } else {
            requisitos.cliente  =   false;
        }
        verificar()
    });
</script>