<script>
    $(document).ready(() => {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            }
        });
        cargar()
    })

    function cargar () {
        $.ajax({
            url:        '{% url "gestion_compras" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:     'lista_compras',
                estado:     JSON.parse($('#estado').val())
            }
        }).then((respuesta) => {
            lista(respuesta.compras)
        }).catch((error) => {
            let respuesta = JSON.parse(error.responseText)
            mensaje('fa fa-circle-xmark',  'Error al cargar la lista de compras', respuesta.mensaje)

        })
    }

    function buscar (buscar) {
        $.ajax({
            url:        '{% url "gestion_compras" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:     'buscar',
                buscar:     buscar,
                estado:     JSON.parse($('#estado').val())
            }
        }).then((respuesta) => {
            lista(respuesta.compras)
        }).catch((error) => {
            let respuesta = JSON.parse(error.responseText)
            mensaje('fa fa-circle-xmark',  'Error al buscar la lista de compras', 'red', respuesta.mensaje)
        })
    }

    function nueva () {
        window.location.href = '{% url "crear_compra" %}'
    }

    function ver (id) {
        $.ajax({
            url:        '{% url "gestion_compras" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:     'info_compra',
                id:         id
            }
        }).then((respuesta) => {
            let fecha =  new Date(respuesta.compra.fecha)

            $('.modal-body').html(`
                <div class="row">
                    <div class="col">
                        <h6>Proveedor</h6>
                        <p class="text-muted">${respuesta.compra.proveedor_nombre}</p>
                        <h6>Factura</h6>
                        <p class="text-muted">${respuesta.compra.factura}</p>
                    </div>
                    <div class="col">
                        <h6>Identificación</h6>
                        <p class="text-muted">${respuesta.compra.proveedor_identificacion}</p>
                        <h6>Fecha</h6>
                        <p class="text-muted">${(`0${fecha.getDate()}`).slice(-2)}-${(`0${fecha.getMonth() + 1}`).slice(-2)}-${fecha.getFullYear()}</p>
                    </div>
                </div>
                <table class="table table-borderless border">
                    <thead class="table-dark">
                        <th>Producto</th>
                        <th style="width: 60px;">Cant.</th>
                        <th style="width: 80px;">Subtotal</th>
                    </thead>
                    <tbody id="productos-compra"></tbody>
                </table> 
            `)
            $.each(respuesta.items, (index, item) => {
                $('#productos-compra').append(`
                    <tr>
                        <td style="vertical-align: middle;">${item.producto_marca} - ${item.producto_nombre}</td>
                        <td style="vertical-align: middle;">${item.cantidad}</td>
                        <td style="vertical-align: middle;">${(parseInt(item.cantidad) * parseFloat(item.costo)).toFixed(2)}</td>
                    </tr>
                `)
            })
            $('#etiqueta-modal').html('Información de la Compra')
            $('#modal').modal('toggle')
        }).catch((error) => {
            let respuesta =  JSON.parse(error.responseText)
            mensaje('fa fa-circle-xmark',  'Error al cargar la información de la compra', 'red',  respuesta.mensaje)
        })
    }

    function imprimir (id) {
        window.open('/compras/imprimir/'+id, '_blank');
    }

    function anular (id) {
        $.alert({
            icon:               'fa fa-circle-xmark',
            title:              'Anular Compra',
            type:               'red',
            content:            `¿Está seguro que desea anular la compra?`, 
            theme:              'modern',
            animateFromElement: false,
            buttons: {
                Sí:  () => {
                    $.ajax({
                        type:       'POST',
                        dataType:   'JSON',
                        url:        '{% url "gestion_compras" %}',
                        data:       {
                            accion:     'anular_compra',
                            id:         id
                        }
                    }).then((respuesta) => {
                        mensaje('fa fa-circle-check',  'Anular Compra', 'green', respuesta.mensaje)
                        cargar()
                    }).catch((error) => {
                        let respuesta =  JSON.parse(error.responseText)
                        mensaje('fa fa-circle-xmark',  'Error al anular la compra', 'red',  respuesta.mensaje)
                    })
                },
                No: ()=>{}
            }
        })
    }

    function habilitar (id) {
        $.alert({
            icon:               'fa fa-circle-xmark',
            title:              'Habiitar Compra',
            type:               'red',
            content:            `¿Está seguro que desea habilitar la compra?`, 
            theme:              'modern',
            animateFromElement: false,
            buttons: {
                Sí:  () => {
                    $.ajax({
                        type:       'POST',
                        dataType:   'JSON',
                        url:        '{% url "gestion_compras" %}',
                        data:       {
                            accion:     'habilitar_compra',
                            id:         id
                        }
                    }).then((respuesta) => {
                        mensaje('fa fa-circle-check',  'Habilitar Compra', 'green', respuesta.mensaje)
                        cargar()
                    }).catch((error) => {
                        let respuesta =  JSON.parse(error.responseText)
                        mensaje('fa fa-circle-xmark',  'Error al habilitar la compra', 'red',  respuesta.mensaje)
                    })
                },
                No: ()=>{}
            }
        })
    }

    function lista (compras) {
        if(compras.length == 0) {
            $('#lista-compras').html('<tr><td colspan="5" style="text-align: center; color: gray">No hay compras registradas</td></tr>');
            return false;
        }
        $('#lista-compras').html('')
        $.each(compras, (index, compra) => {
            let fecha = new Date(compra.fecha)
            let boton = `<button type="button" class="btn btn-danger" onclick="anular(${compra.id})"><i class="bi bi-x"></i></button>`
            if (!JSON.parse($('#estado').val())) {
                boton = `<button type="button" class="btn btn-success" onclick="habilitar(${compra.id})"><i class="bi bi-check-circle"></i></button>`
            }
            $('#lista-compras').append(`
                <tr>
                    <td style="vertical-align: middle;">${(`0${fecha.getDate()}`).slice(-2)}-${(`0${fecha.getMonth() + 1}`).slice(-2)}-${fecha.getFullYear()} ${fecha.getHours()}:${fecha.getMinutes()}</td>
                    <td style="vertical-align: middle; ">${compra.proveedor_nombre}</td>
                    <td style="vertical-align: middle; text-align: right;">${compra.total}</td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="ver(${compra.id})"><i class="bi bi-info-circle"></i></button>
                        <button type="button" class="btn btn-primary" onclick="imprimir(${compra.id})"><i class="bi bi-printer"></i></button>
                        ${boton}
                    </td>
                </tr>
            `)
        })
    }

    function mensaje (icono, titulo, color, mensaje) {
        $.alert({
            icon:               icono,
            title:              titulo,
            type:               color,
            content:            mensaje,
            theme:              'modern',
            animateFromElement: false,
            buttons:            {
                Cerrar:     () => {}
            }
        })
    }
</script>