<!-- Modal -->
<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false"
aria-labelledby="etiqueta-modal" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header bg-dark"data-bs-theme="dark">
            <h1 class="modal-title fs-5  text-bg-dark" id="etiqueta-modal">Modal title</h1>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <p class="text-black-50 text-center">Comercial Raquelita</p>
            
        </div>
    </div>
</div>
</div>