<script>
    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            }
        });
        cargar(true)
    })


    function cargar (estado) {
        estado = JSON.parse(estado)
        $.ajax({
            url:        '{% url "gestion_proveedores" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion: 'lista',
                estado: Boolean(estado)
            },
        }).then(function (respuesta) {
            lista(respuesta.proveedores)
        }).catch(function (error) {
            respuesta = JSON.parse(error.responseText)
            mensaje('red', 'fa fa-circle-xmark', 'Error al cargar lista', respuesta.message)
        })
    }

    function mostrar_modal () {
        formulario()
        document.getElementById('formulario-proveedor').reset();
        $('#modal-proveedor').modal('toggle')
    }

    function guardar () {
        let accion = 'crear_proveedor'
        if ($('#id').val() !== '') {
            accion = 'editar_proveedor'
        }
        $.ajax({
            url:        '{% url "gestion_proveedores" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion:         accion,
                id:             $('#id').val(),
                nombre:         $('#nombre').val(),
                identificacion: $('#identificacion').val(),
                descripcion:    $('#descripcion').val(),
                direccion:      $('#direccion').val(),
                ciudad:         $('#ciudad').val(),
                telefono:       $('#telefono').val(),
                celular:        $('#celular').val(),
                correo:         $('#correo').val()
            }
        }).then(function(respuesta){
            if (respuesta.success) {
                mensaje('green', 'fa fa-circle-check', 'Crear proveedor', respuesta.message)
                $('#modal-proveedor').modal('toggle').delay().queue(function (espera){
                    document.getElementById('formulario-proveedor').reset();
                    espera()
                })
                lista(true)
            }
        }).catch(function (error){
            let respuesta = JSON.parse(error.responseText)
            mensaje('red', 'fa fa-circle-xmark', 'Error al crear proveedor', respuesta.message)
        })
    }

    function ver (id) {
        $.ajax({
            url:        '{% url "gestion_proveedores" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion: 'info',
                id:     id
            }
        }).then(function (respuesta) {
            informacion(respuesta.proveedor)
            $('#modal-proveedor').modal('toggle')
        }).catch(function (error) {
            let respuesta = JSON.parse(error.responseText)
            mensaje('red', 'fa fa-circle-xmark', 'Error', respuesta.message)
        })
    }

    function editar (id) {
        $.ajax({
            url:        '{% url "gestion_proveedores" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion: 'info',
                id:     id
            }
        }).then(function (respuesta) {
            formulario()
            $('#id').val(respuesta.proveedor.id)
            $('#nombre').val(respuesta.proveedor.nombre)
            $('#identificacion').val(respuesta.proveedor.identificacion)
            $('#descripcion').val(respuesta.proveedor.descripcion)
            $('#direccion').val(respuesta.proveedor.direccion)
            $('#ciudad').val(respuesta.proveedor.ciudad)
            $('#telefono').val(respuesta.proveedor.telefono)
            $('#celular').val(respuesta.proveedor.celular)
            $('#correo').val(respuesta.proveedor.correo)
            $('#modal-proveedor').modal('toggle')
        }).catch(function (error) {
            let respuesta = JSON.parse(error.responseText)
            mensaje('red', 'fa fa-circle-xmark', 'Error', respuesta.message)
        })
    }

    function deshabilitar (id) {
        $.alert({
            icon:               'fa fa-circle-exclamation',
            title:              'Deshabilitar Proveedor',
            type:               'orange',
            content:            '¿Desea deshabilitar el proveedor?',
            theme:              'modern',
            animateFromElement: false,
            buttons:            {
                Sí:     function () {
                    deshabilitar_proveedor(id)
                },
                No:     function () {}
            }
        })
    }

    function habilitar (id) {
        $.alert({
            icon:               'fa fa-circle-exclamation',
            title:              'Habilitar Proveedor',
            type:               'orange',
            content:            '¿Desea habilitar el proveedor?',
            theme:              'modern',
            animateFromElement: false,
            buttons:            {
                Sí:     function () {
                    habilitar_proveedor(id)
                },
                No:     function () {}
            }
        })
    }
    
    function deshabilitar_proveedor (id) {
        $.ajax({
            url:        '{% url "gestion_proveedores" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion: 'deshabilitar_proveedor',
                id:     id
            }
        }).then(function (respuesta) {
            lista(true)
            mensaje('green', 'fa fa-circle-check', 'Deshabilitar Proveedor', respuesta.message)
        }).catch(function (error) {
            let respuesta = JSON.parse(error.responseText)
            mensaje('red', 'fa fa-circle-xmark', 'Error al Deshabilitar', respuesta.message)
        })
    }

    function habilitar_proveedor (id) {
        $.ajax({
            url:        '{% url "gestion_proveedores" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion: 'habilitar_proveedor',
                id:     id
            }
        }).then(function (respuesta) {
            lista(true)
            mensaje('green', 'fa fa-circle-check', 'Habilitar Proveedor', respuesta.message)
        }).catch(function (error) {
            let respuesta = JSON.parse(error.responseText)
            mensaje('red', 'fa fa-circle-xmark', 'Error al Habilitar', respuesta.message)
        })
    }

    function buscar (buscar) {
        $.ajax({
            url:        '{% url "gestion_proveedores" %}',
            type:       'POST',
            dataType:   'JSON',
            data:       {
                accion: 'buscar',
                buscar: buscar, 
                estado: $('#estado').val()
            }
        }).then(function (respuesta) {
            if (respuesta.success) {
                $('#lista-proveedores').html('')
                $.each(respuesta.proveedores, function (index, proveedor) {
                    let boton = ``
                    if ($('#estado').val()  == true || $('#estado').val()  == 'true') {
                        boton = `<button class="btn btn-danger" onclick="deshabilitar(${proveedor.id})"><i class="bi bi-x"></i></button>`
                    } else {
                        boton   =   `<button class="btn btn-success" onclick="habilitar(${proveedor.id})"><i class="bi bi-check"></i></button>`
                    }
                    $('#lista-proveedores').append(`
                        <tr>
                            <td style="vertical-align: middle;">${proveedor.nombre} - ${proveedor.ciudad}</td>
                            <td>
                                <button class="btn btn-primary" onclick="ver(${proveedor.id})"><i class="bi bi-info-circle"></i></button>
                                <button class="btn btn-primary" onclick="editar(${proveedor.id})"><i class="bi bi-pencil-square"></i></button>
                                ${boton}
                            </td>
                        </tr>
                    `)
                })
            }
        }).catch(function (error) {
            respuesta = JSON.parse(error.responseText)
            mensaje('red', 'fa fa-circle-xmark', 'Error al Habilitar', respuesta.message)
        })
    }

    function mensaje (color, icono, titulo, mensaje) {
        $.alert({
            icon:               icono,
            title:              titulo,
            type:               color,
            content:            mensaje,
            theme:              'modern',
            animateFromElement: false,
            buttons:            {
                Cerrar: function () {}
            }
        })
    }

    function formulario () {
        $('.modal-body').html(`
            <form id="formulario-proveedor">
                    <input type="text" name="id" id="id" hidden>
                    <div class="form-floating my-2">
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre">
                        <label for="nombre"><i class="fa-regular fa-building"></i> Nombre del Proveedor</label>
                    </div>
                    <div class="form-floating my-2">
                        <input type="text" class="form-control" id="identificacion" name="identificacion" placeholder="identificacion">
                        <label for="identificacion><i class="fa-regular fa-id-card"></i> Identificación</label>
                    </div>
                    <div class="form-floating my-2">
                        <textarea style="height: 120px;" class="form-control" id="descripcion" name="descripcion" placeholder="descripcion"></textarea>
                        <label for="descripcion"><i class="fa-regular fa-rectangle-list"></i> Descripción</label>
                    </div>
                    <div class="form-floating my-2">
                        <input type="text" class="form-control" id="direccion" name="direccion" placeholder="direccion">
                        <label for="direccion"><i class="fa-solid fa-map-location-dot"></i> Dirección</label>
                    <div class="form-floating my-2">
                        <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="ciudad">
                        <label for="ciudad"><i class="fa-solid fa-mountain-city"></i> Ciudad</label>
                    </div>
                    </div>
                    <div class="form-floating my-2">
                        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="telefono">
                        <label for="telefono"><i class="fa-solid fa-phone"></i> Teléfono</label>
                    </div>
                    <div class="form-floating my-2">
                        <input type="text" class="form-control" id="celular" name="celular" placeholder="celular">
                        <label for="celular"><i class="fa-solid fa-mobile-screen-button"></i> Celular</label>
                    </div>
                    <div class="form-floating my-2">
                        <input type="email" class="form-control" id="correo" name="correo" placeholder="correo">
                        <label for="correo"><i class="fa-regular fa-envelope"></i> Correo Electrónico</label>
                    </div>
                    <button type="button" class="btn btn-primary form-control" onclick="guardar()"><i class="fa-regular fa-floppy-disk"></i> Guardar</button>
                </form>
        `)
    }

    function informacion (datos) {
        let estado = 'Deshabilitado'
        if (JSON.parse(datos.estado)) {
            estado = 'Habilitado'
        }
        $('.modal-body').html(`
            <h4>Estado</h4>
            <h5  class="text-black-50">${estado}</h5>
            <h4>Nombre</h4>
            <h5  class="text-black-50">${datos.nombre}</h5>
            <h4>Identificación</h4>
            <h5  class="text-black-50">${datos.identificacion}</h5>
            <h4>Descripción</h4>
            <h5  class="text-black-50">${datos.descripcion}</h5>
            <h4>Dirección</h4>
            <h5  class="text-black-50">${datos.direccion}</h5>
            <h4>Ciudad</h4>
            <h5  class="text-black-50">${datos.ciudad}</h5>
            <h4>Teléfono</h4>
            <h5  class="text-black-50">${datos.telefono}</h5>
            <h4>Celular</h4>
            <h5  class="text-black-50">${datos.celular}</h5>
            <h4>Correo</h4>
            <h5  class="text-black-50">${datos.correo}</h5>
        `)
    }

    function lista (datos) {
        if (datos.length == 0) {
            $('#lista-proveedores').html('<tr><td colspan="2" style="text-align: center; color: gray;">No hay proveedores para  mostrar.</td></tr>');
            return false;
        }
        $('#lista-proveedores').html('')
                $.each(respuesta.proveedores, function (index, proveedor) {
                    let boton = ``
                    if ($('#estado').val()  == true || $('#estado').val()  == 'true') {
                        boton = `<button class="btn btn-danger" onclick="deshabilitar(${proveedor.id})"><i class="bi bi-x"></i></button>`
                    } else {
                        boton   =   `<button class="btn btn-success" onclick="habilitar(${proveedor.id})"><i class="bi bi-check"></i></button>`
                    }
                    $('#lista-proveedores').append(`
                        <tr>
                            <td style="vertical-align: middle;">${proveedor.nombre} - ${proveedor.ciudad}</td>
                            <td>
                                <button class="btn btn-primary" onclick="ver(${proveedor.id})"><i class="bi bi-info-circle"></i></button>
                                <button class="btn btn-primary" onclick="editar(${proveedor.id})"><i class="bi bi-pencil-square"></i></button>
                                ${boton}
                            </td>
                        </tr>
                    `)
                })
    }
</script>